@model PlanetBook.Models.ViewModels.ShoppingCartVM
<form method="post">
        <br />
    <div class="text-end">
        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-secondary btn-sm">Trở lại giỏ hàng</a>
    </div>
    <br />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-primary text-light ml-0 row container">
                        <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                            Thông tin đặt hàng
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">Chi tiết giao hàng:</span>
                                        </h4>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Tên</label>
                                        </div>
                                        <div class="col-9">
                                        <input asp-for="OrderHeader.Name" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>SĐT</label>
                                        </div>
                                        <div class="col-9">
                                        <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Số nhà/ Đường</label>
                                        </div>
                                        <div class="col-9">
                                        <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Quận /Huyện</label>
                                        </div>
                                        <div class="col-9">
                                        <input asp-for="OrderHeader.State" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Thành phố/ Tỉnh</label>
                                        </div>
                                        <div class="col-9">
                                        <input asp-for="OrderHeader.City" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Mã bưu điện</label>
                                        </div>
                                        <div class="col-9">
                                        <input asp-for="OrderHeader.PostalCode" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 offset-lg-1">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Tóm tắt đặt hàng:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @foreach (var item in Model.ListCart)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@item.Product.Title</h6>
                                                <small class="text-muted">Số lượng: @item.Count</small>
                                                </div>
                                            <span class="text-muted">@((item.Price * item.Count).ToString("0.000"))</span>
                                            </li>
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-success">Tổng tiền</small>
                                            <strong class="text-success">@Model.OrderHeader.OrderTotal.ToString("0.000")</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-8 pt-2">
                                <p style="color:maroon; font-size:14px;">Dự kiến giao hàng: @DateTime.Now.AddDays(5).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()</p>
                            </div>
                            <div class="col-12 col-md-4">
                                 @*<button type="submit" value="Place Order" class="btn btn-info form-control">Đặt hàng</button>*@
                                    <a asp-area="Customer" asp-controller="Cart" asp-action="PaymentNL" class="btn btn-info form-control">Đặt hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
